/* ABOUT PAGE STYLES */

.about {
    background: $light-blue    url(/assets/dist/img/flower_purple.jpg);
    margin-top: 6em;
    border-top: none;
}

.about_content {
    h3 {
        font-size: 1.5em;
        text-align: center;
    }
    ul {
        li {
            font-size: 1.5em;
            font-family: roboto;
            color: $dark-blue;
        }
    }
}

.lisa_story {
    margin-top: 4em;
}

.lisa_story_title {
    display: grid;
    place-items: center center;
    margin-bottom: 3em;

    h3 {
        margin: 0;
        font-size: 2em;
        color: $dark-blue;
    }
}

.title_justify_right {
    padding-left: 2em;
}

.story_title_pad {
    padding-left: 1em;
}

.lisa_story_content {
    max-width: 500px;
    padding-left: em(20px);
    padding-right: em(20px);
    margin: auto;

    p {
        color: $dark-blue;
        font-size: 1.5em;
    }

    ul,
    ol {
        list-style: none;

    ol {
        counter-reset: li;

    }

        li {
            font-family: $roboto;
            font-size: 2em;
            color: $dark-blue;
        }
    }
}

.lisa_story_ul {
    li:before {
        content: "•";
        color: $red;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
    }
}

.lisa_story_ol {
    li {
        counter-increment: li;
    }

    li:before {
        content: counter(li);
        color: $red;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
    }
}

.about_picture_bar {
    margin-bottom: 0;
}

@include breakpoint(next-mobile) {
    .lisa_story_title {

        h3 {
            font-size: 3em;
        }
    }
}

@media (min-width: 700px) {

    .story_title_pad {
        padding-left: 0;
    }

    .about_content {
        ul {
            li {
                font-size: 1.25em;
            }
        }
    }
}

@include breakpoint(smaller-screen) {
    .about {
        margin-top: 0;
    }
    .about_content {
        h3 {
            font-size: 2.5em;
        }
        ul {
            li {
                font-size: 1.5em;
                font-family: roboto;
            }
        }
    }

}
