/* CLASSES PAGE STYLES + INDIVDUAL OFFERINGS such as Retreats, Workshops, Trainings */

.title_space {
    padding-top: 5em;
}

/* these styles create the line on either side of the first h2 of the title - taken from http://jessica-eldredge.com/2014/01/26/headings-with-lines/ */
.title_line {
    h2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
    }

    h2:before,
    h2:after {
        background-color: $yellow;
        content: '\a0';
        flex-grow: 1;
        height: em(3px);
        position: relative;
        top: 0.25em;
        max-width: 75px;
    }

    h2:before {
        margin-right: 10px;
    }

    h2:after {
        margin-left: 10px;
    }
}

.title_uppercase {
    text-transform: uppercase;
}

.title_nospace {
    h2:first-of-type {
        padding-top: 0;
    }

    h3 {
        padding-top: 0;
    }
}

.schedule_details {
    p {
        padding-bottom: 0;
        font-weight: bold;
    }
}

.schedule_description {
    text-align: left;
}

.schedule_description {
    p {
        a {
            color: $red;
        }
    }
}


/* BREAKPOINTS for grid for individual listed classes */

@include breakpoint (small){
    .title_size_increase {
        font-size: 8em;
    }

    .schedule_class_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 364px 1fr;
    }

    .schedule_img {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row: 1;
    }

    .schedule_details {
        grid-column-start: 7;
        grid-column-end: 13;
        grid-row: 1;
        justify-self: stretch;
    }

    .schedule_description {
        grid-column-start: 1;
        grid-column-end: 13;
        grid-row: 2;
        padding-left: 5em;
        padding-right: 5em;
    }
}

@include breakpoint (medium) {

    .title_size_increase {
        font-size: 10em;;
    }

    .schedule_class_wrapper {
        grid-template-rows: 364px;
        padding-bottom: 5em;
    }

    .schedule_img {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left:4em;
    }

    .schedule_details {
        grid-column-start: 5;
        grid-column-end: 8;
        grid-row: 1;
    }

    .schedule_description {
        grid-column-start: 8;
        grid-column-end: 13;
        grid-row: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 0;
        padding-right:0;
    }
}
