/* CONTACT page styles */

.contact_lisa {
    margin-top: 8em;
    padding: 0 em(20px) 0 em(20px);

    h1,
    p {
        text-align: center;
        margin: 0;
    }

    h1 {
        font-size:3em;
    }

    p {
        font-size: 1.5em;
    }
}
