/* OFFERINGS PAGE STYLES */

.offering_wrapper {
    background-color: $white;

    h2,
    p {
        color: $dark-blue;
    }
}

.offering_billboard {
    margin-top: 5em;
}

.offering_title_top {
    font-size: 5em;
    text-transform: lowercase;
}

.offering_title_bottom {
    text-transform: uppercase;
    font-size: 2em;
    line-height: 0.40em;
}

.offering_category_wrapper {
    background: $main-blue;
    margin-bottom: 0;
}


/* BLOG CATEGORY ICON CARDS FOR BLOG INSPIRATION */
/* THESE RELY ON STYLES FROM 3 CLASS CARDS AND ICON CARDS */

.blog_category_title {
    text-transform: uppercase;
}
