/* SINGLE BLOG POST PAGE STYLES */

.blog_post_header {
    background-color: $background-blue;
    margin-top: -0.5em;


    h1 {
        color: $white;
        text-align: center;
        padding: 1em 0 1em 0;
        font-size: 6em;
    }
}

.blog_post_content {

    p:first-of-type {
        border-left: em(3px) solid $yellow;
        margin-left: 0.15em;
        padding-left: 1em;
        font-weight: bold;
        font-size: 1.75em
    }
}

.blog_large_quote {
    background-color: $main-blue;
    color: white;
    padding: 1em;
    text-align: center;
    font-family: $cursive;
    font-size: 5em;
}
