/*------------------------------------*\
    #GLOBALS
\*------------------------------------*/
html,
html > body,
body {
	margin: 0;
	padding: 0;
}

body {
	font-size: 16px;
    background-color: $background-blue;
}

::selection {
}

// HIDE
.hide {
    display: none;
}

// CENTER TEXT
.center_text {
    text-align: center;
}

// CONTAINER
.container {
    margin: auto;
    max-width: 1300px;
    background-color: $white;
    display: grid;
}

// DROP SHADOW ON BOTTOM ONLY FOR CARDS
.bottom_edge_shadow {
    box-shadow: 0 em(8px) em(6px) em(-6px) $background-blue;
}
