/*------------------------------------*\
    #THEME
\*------------------------------------*/

// COLOR





// TYPOGRAPHY
h1,
 {
    font-family: $roboto;
}

h2,
h3,
h4,
h5,
h6,
 {
    font-family: $oswald;
}

p {
    font-family: $roboto;
}

// SPACING, MARGINS, AND PADDING
