/*------------------------------------*\
    #THEME
\*------------------------------------*/

// COLOR





// TYPOGRAPHY
h1,
 {
    font-family: $roboto;
}

h2,
h3,
h4,
h5,
h6,
 {
    font-family: $oswald;
}

p {
    font-family: $roboto;
}

// HIDE
.hide {
    display: none;
}

// CENTER TEXT
.center_text {
    text-align: center;
}

// BODY BACKGROUND COLOR
body {
    background-color: $background-blue;
}

// CONTAINER
.container {
    margin: auto;
    max-width: 1300px;
    background-color: $white;
}

// SPACING, MARGINS, AND PADDING
